---
title: "spring"
linkTitle: "Spring系列2"
menu:
  main:
    weight: 30
---

{{% blocks/lead color="primary" %}}
SpringBoot基础系列教程
<small>配置&日志&AOP&IOC&事件&国际化&定时器等基本知识点大全</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-basic/00.配置" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 配置手册》</h5>
                  <p class="card-text text-black">
                    我们常说Spring约定大于配置，那么约定是什么？配置在哪里？怎么读取呢？多环境配置又改如何管理呢？本系列教程将为您一一解惑
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/01.AOP" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot AOP扫盲》</h5>
                  <p class="card-text text-black">
                    教你如何玩转Spring的两大特性之一AOP，掌握工作中的代码整洁之道
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/02.BEAN" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Bean工厂》</h5>
                  <p class="card-text text-black">
                    对象作为Java第一等公民，而Bean可算是Spring的一等公民了，如何声明、初始化、注入Bean是学习Spring中不可缺少的一环
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/03.SpEL" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot SpEL表达式》</h5>
                  <p class="card-text text-black">
                    Spring Expression Language在Spring生态中应用颇广，如配置读取，AOP注解的增强，条件注入等等，推荐有兴趣的了解一下
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/04.事件" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 消息事件》</h5>
                  <p class="card-text text-black">
                    消息事件大量应用在Spring中，传说中的解耦神器；当然这里的消息事件是jvm级别的，本系列将带你了解Spring容器的哪些事件，以及如何自定义生产消费事件
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/05.国际化" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 国际化》</h5>
                  <p class="card-text text-black">
                    手把手教你国际化配置支持，多语言开发者的福音
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/06.定时器" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 定时器》</h5>
                  <p class="card-text text-black">
                    基于Spring容器，分分钟教你实现JVM级别的定时任务
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-basic/07.日志" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 日志》</h5>
                  <p class="card-text text-black">
                    所有开发者的好基友，一个成熟的系统离不开日志系统的建设，这里将介绍下如何配置日志、使用日志
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot数据库系列教程
<small>SpringBoot无障碍接入各类数据库，如h2,MySql,MongoDb,Redis,InfluxDB等</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-db/01.H2Database" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot H2Database》</h5>
                  <p class="card-text text-black">
                    SpringBoot整合H2Database，实现老生常谈的CURD
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/02.JPA" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Hibernate学习手册》</h5>
                  <p class="card-text text-black">
                    据说国外的大仓更喜欢使用Hibernate操作数据库，本手册将手把手教你完全使用Hibernate/JPA方式支撑业务需求
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/03.JdbcTemplate" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot JdbcTemplate操作手册》</h5>
                  <p class="card-text text-black">
                    摆脱ORM框架，直接JdbcTemplate来操作数据库，数据扫描、脚本开发者都应该掌握的知识点，享受直写Sql的魅力
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/05.Mybatis" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Mybatis零基础教程》</h5>
                  <p class="card-text text-black">
                    国内Java生态下ORM框架的杠把子，零基础教程，保姆级文档，适用于初中级开发的学习参考手册
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/06.事务" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 事务》</h5>
                  <p class="card-text text-black">
                    进阶知识点，如何在Spring容器中使用事务？看这个系列就完了
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/07.MongoDB" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot MongoDB系列教程》</h5>
                  <p class="card-text text-black">
                    文档数据库SpringBoot的系列教程，彻底扫平阻碍我们CURD的路障，适用于对Mongodb不了解或了解不够的小伙伴
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-db/08.Redis" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Redis实战教程》</h5>
                  <p class="card-text text-black">
                    缓存神器Redis的基础 + 进阶教程，搭配实际业务场景的实战博文，彻底掌握redis的使用姿势
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot搜索系列教程
<small>Solr, ElasticSearch等搜索系列教程文档</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-search/01.Solr" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Solr》</h5>
                  <p class="card-text text-black">
                    SpringBoot整合Solr，支撑搜索业务场景
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-search/02.ElasticSearch" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot ElasticSearch》</h5>
                  <p class="card-text text-black">
                    SpringBoot整合ElasticSearch，支撑搜索全业务场景
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot消息队列系列教程
<small>异步解耦削峰利器MQ的系列教程文档，包括但不限于:RabbitMq,Kafaka,RocketMQ等消息队列的使用及进阶博文</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-mq/01.RabbitMQ" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot RabbitMQ》</h5>
                  <p class="card-text text-black">
                    消息队列RabbitMQ的基础 & 进阶教程，系列文章教你在生产中使用消息队列的各种姿势
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot WEB系列教程
<small>SpringMVC, WebFlux, WebSocket等各类http服务相关系列教程合集</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-web/01.Request" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Web请求知识点大全》</h5>
                  <p class="card-text text-black">
                    请求参数如何解析？如何自定义参数转换器？参数校验怎么做？路由匹配又是什么？交互协议JSON还是XML？如有这些疑问，请打开这个教程
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/02.Response" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Web花样返回》</h5>
                  <p class="card-text text-black">
                    后端接口返回什么，json串？xml文档？html网页？文件？还是重定向？
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/03.RestTemplate" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot RestTemplate网络访问利器》</h5>
                  <p class="card-text text-black">
                    天天与网络打交道，那么你知道Spring中哪个工具类是最好用的么？没错就是RestTemplate，系列文章教你用好这个利器，解决网络资源访问的难点
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/04.WebClient" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 响应式网络交互WebClient》</h5>
                  <p class="card-text text-black">
                    响应式编程大行其道的当下，WebClient大大简化了交互的复杂性，如有响应式需求场景，好好读一下这个系列绝不会有错
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/05.WebFlux" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 响应式编程WebFlux》</h5>
                  <p class="card-text text-black">
                    WebFlux系列博文
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/06.WebSocket" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 长连接WebSocket》</h5>
                  <p class="card-text text-black">
                    长连接websocket从0到1实战
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/07.Web三剑客" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Web三剑客》</h5>
                  <p class="card-text text-black">
                    Servlet, Filter, Listener web三剑客的知识点汇总
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/08.实例" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Web实战演示》</h5>
                  <p class="card-text text-black">
                    收录web系列相关的实战文档，每一篇博文都对应一个真实的业务场景，从0到1，手把手教你如何完美支撑业务需求
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-web/09.其他" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"><i class="fa fa-star" style="color: #ff6600;"></i></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Web踩坑日记簿》</h5>
                  <p class="card-text text-black">
                    人在河边走，哪有不湿鞋，这里的每一篇文章都是一个有血有泪的真实故事啊
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot 整合各大开源系列产品
<small>记录SpringBoot接入邮件、zk、Prometheus监控、oss等与常见业务非强相关的系列教程</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-middle/01.Email" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 整合Email》</h5>
                  <p class="card-text text-black">
                    SpringBoot无障碍使用邮箱服务
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-middle/02.Prometheus" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 整合Prometheus监控》</h5>
                  <p class="card-text text-black">
                    接入Prometheus，搭建应用监控体系
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-middle/03.ZooKeeper" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 整合Zookeeper》</h5>
                  <p class="card-text text-black">
                    SpringBoot整合Zookeeper，并通过zk实现分布式锁来实战演示zk在应用中的想象空间
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-middle/04.Docker" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot 整合Docker》</h5>
                  <p class="card-text text-black">
                    SpringBoot配置docker，实现容器化管理部署
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringCloud 全家桶
<small>基于SpringCloud实现微服务体系搭建</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-cloud/01.Eureka" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringCloud Eureka注册中心》</h5>
                  <p class="card-text text-black">
                    注册中心Eureka全知道
                  </p>
                </div>
          </div>
        </a>


        <a href="/spring-cloud/02.Feign" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Feign》</h5>
                  <p class="card-text text-black">
                    基于Feign实现微服务访问
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
SpringBoot Security
<small>SpringSecurity安全管理</small>
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

    <div class="card-deck row">

        <a href="/spring-security/basic" class="col-3 card-link">
          <div class="card border-primary-dark ">
            <img
              src="/imgs/wiki/influx.jpg"
              class="card-img-top"
              draggable="false"
              style="padding: 2rem; max-height: 140px"/>
              <i class="fa fa-star" style="color: #ff6600; margin: -1.5em 0 1em 1em;"><i class="fa fa-star" style="color: #ff6600;"></i></i>
                <div class="card-body bg-primary-dark">
                  <h5 class="card-title text-black section-head">《SpringBoot Security基础教程》</h5>
                  <p class="card-text text-black">
                    SpringBoot Security基础系列教程，目标是实现权限管理的无障碍接入使用
                  </p>
                </div>
          </div>
        </a>


</div>

{{< /blocks/section >}}
