+++
title = "一灰灰Learning"
linkTitle = "一灰灰Learning"
+++


{{% blocks/lead color="primary" %}}

一灰灰学习进阶

<small>
	通过成体系的进阶教程，带领IT新人、新职场人进入编程大门，免费学习教程、真实业务场景演练、线上问题排查定位、为每个致力于在编程界大展身手的小伙伴助力
</small>

{{% /blocks/lead %}}



{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-database" title="数据库系列" url="/db" %}}

文档型数据库、关系型数据库、时序数据库，应有尽有

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="一灰灰进阶之旅" url="https://github.com/liuyueyi/yihuiLearning" %}}
本站所有内容开源，欢迎star/fork/pull request [yihuihuilearnging](https://github.com/liuyueyi/yihuiLearning) 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-java" title="Spring精选专栏" url="/spring" %}}

java侧最火的框架Spring全系列教程，从0到1带你完全掌握Spring的业务支撑

{{% /blocks/feature %}}


{{< /blocks/section >}}

<hr/>


{{< blocks/section color="white" >}}
<div class="row">
	<div class="col-12">
	下面是本站已整理好的专题系列，持续迭代更新中
</div>
	<div class="col">

	<h3 style="margin: 1em">数据库系列教程</h2>
	<ul>
		<li><a href="/influxdb">时序数据库InfluxDB</a>	</li>
		<li><a href="/influxdb">文档数据库MongoDB</a>	</li>
		<li><a href="/influxdb">关系数据库MySql</a>	</li>
	</ul>
	</div>

	<div class="col">
		<h3 style="margin: 1em">Spring系列教程</h2>
		<ul>
			<li><a href="/spring-basic">Spring 基础系列教程</a>	</li>
			<li><a href="/spring-db">Spring 数据库系列教程</a>	</li>
			<li><a href="/spring-mq">Spring 消息队列专栏</a>	</li>
			<li><a href="/spring-search">Spring 搜索系列教程</a>	</li>
			<li><a href="/spring-web">Spring MVC系列教程</a>	</li>
			<li><a href="/spring-cloud">Spring Cloud微服务专题</a>	</li>
			<li><a href="/spring-middle">Spring 集成第三方中间件</a>	</li>
			<li><a href="/spring-security">Spring Security专栏</a>	</li>
		</ul>
	</div>

	<div class="col">
		<h3 style="margin: 1em">开源项目</h2>
		<ul>
			<li><a href="https://github.com/liuyueyi/yihuiLearning">一灰灰进阶之旅</a>	</li>
			<li><a href="https://github.com/liuyueyi/quick-tools">一灰灰的神奇工具箱</a>	</li>
			<li><a href="https://github.com/liuyueyi/quick-media">quick-media</a>	</li>
			<li><a href="https://github.com/liuyueyi/spring-boot-demo">spring-boot-demo</a>	</li>
			<li><a href="https://github.com/liuyueyi/quick-alarm">quick-alarm</a>	</li>
			<li><a href="https://github.com/liuyueyi/quick-crawler">quick-crawler</a>	</li>
			<li><a href="https://github.com/liuyueyi/quick-fix">quick-fix</a>	</li>
		</ul>
	</div>

	<div class="col">
		<h3 style="margin: 1em">分布式专栏</h2>
		<ul>
			<li><a href="/分布式/设计模式">设计思想 </a>	</li>
			<li><a href="/分布式/高可用">高可用系统分析 </a>	</li>
		</ul>
	</div>

</div>


{{< /blocks/section >}}